---
import { storyblokEditable, useStoryblokApi } from "@storyblok/astro";
import { Image } from "astro-preload/components";
const { blok, language } = Astro.props;

const storyblokApi = useStoryblokApi();
const [current_board] = await storyblokApi.getAll('cdn/stories', {
  version: 'draft',
  starts_with: 'vereniging/bestuur',
  content_type: 'board',
  sort_by: "content.board_number:desc:int",
  per_page: 1,
  language
});
---

<a href={`/${language === undefined ? "" : `${language}/`}vereniging/bestuur/${current_board.content.board_number}`} class="group block max-w-4xl mx-auto" {...storyblokEditable(blok)}>
  <div class="relative rounded-2xl overflow-hidden border border-neutral-200 group-hover:-translate-y-1 group-hover:shadow transition">
    <Image url={current_board.content.photo.filename} class="w-full aspect-[16/9] object-cover object-top" />
    <div class="absolute bottom-0 left-0 w-full text-white text-center py-4" style={{ background: current_board.content.colour }}>
      <h3 class="text-2xl font-extrabold">
        {language === undefined ? "Bestuur " : "Board "}
        {current_board.content.board_number}
      </h3>
      {!!current_board.content.year && <p>{current_board.content.year}</p>}
      {!!current_board.content.zinspreuk && <p class="italic">"{current_board.content.zinspreuk}"</p>}
    </div>
  </div>
</a>