---
import { storyblokEditable } from '@storyblok/astro';
import { Image } from 'astro-preload/components';
const { blok } = Astro.props;

import { useStoryblokApi } from '@storyblok/astro';

const storyblokApi = useStoryblokApi();
const boards = await storyblokApi.getAll('cdn/stories', {
  version: 'draft',
  starts_with: 'vereniging/bestuur',
  content_type: 'board',
  sort_by: "content.board_number:desc:int"
});

const current_board = boards[0];
const old_boards = boards.slice(1);
---

<main class="w-[92%] sm:w-3/4 mx-auto py-8 min-h-[calc(100vh-160px)]" {...storyblokEditable(blok)}>
  <h2 class="text-3xl font-extrabold text-center my-8">Huidig bestuur</h2>

  <a href={`/vereniging/bestuur/${current_board.content.board_number}`} class="group block max-w-4xl mx-auto mb-12">
    <div class="relative rounded-2xl overflow-hidden border border-neutral-200 group-hover:-translate-y-1 group-hover:shadow transition">
      <Image url={current_board.content.photo.filename} class="w-full aspect-[16/9] object-cover object-top" />
      <div class="absolute bottom-0 left-0 w-full text-white text-center py-4" style={{ background: current_board.content.colour }}>
        <h3 class="text-2xl font-extrabold">Bestuur {current_board.content.board_number}</h3>
        {!!current_board.content.year && <p>{current_board.content.year}</p>}
        {!!current_board.content.zinspreuk && <p class="italic">"{current_board.content.zinspreuk}"</p>}
      </div>
    </div>
  </a>

  <div class="border-neutral-300 flex flex-row mb-8">
    <div class="bg-neutral-300 h-px w-full my-auto rounded-full"></div>
    <img src="/exclamation.svg" class="w-7" />
    <div class="bg-neutral-300 h-px w-full my-auto rounded-full"></div>
  </div>

  <h2 class="text-3xl font-extrabold text-center my-8">Oude besturen</h2>

  <ul class="grid grid-cols-1 sm:grid-cols-3 gap-6">
    {old_boards.map(board => (
      <li>
        <a href={`/vereniging/bestuur/${board.content.board_number}`} class="group block h-56">
          <div class="relative flex h-full rounded-xl overflow-hidden border-4 group-hover:-translate-y-1 group-hover:shadow transition" style={{ "border-color": board.content.colour }}>
            <Image url={board.content.photo.filename} class="absolute w-full h-full object-cover object-top" />
            <span class="relative mt-auto ml-auto m-2 px-2 py-1 rounded bg-black/25 text-white font-bold">
              Bestuur {board.content.board_number}{!!board.content.year && ` | ${board.content.year}`}
            </span>
          </div>
        </a>
      </li>
    ))}
  </ul>
</main>
