---
import { storyblokEditable } from '@storyblok/astro';
import { Image } from "astro-preload/components";
import RichText from '../basics/RichText.astro';
import PhotoCarousel from '../basics/PhotoCarousel.astro';
import Separator from '../basics/Separator.astro';

const { blok, language } = Astro.props;
---

<main class="w-[92%] sm:w-3/4 mx-auto py-8 min-h-[calc(100vh-160px)]" {...storyblokEditable(blok)}>
  <a href={`/${language === undefined ? "" : `${language}/`}vereniging/disputen`} class="text-[var(--brand-dark)] flex flex-row gap-2 group w-max mb-4">
    <i class="my-auto fas fa-arrow-left group-hover:-translate-x-1 transition-transform"></i>
    <span class="group-hover:underline">
      {language === undefined ? "Terug naar de disputen" : "Back to the society overview"}
    </span>
  </a>

  <div class="rounded-xl border border-neutral-200 overflow-hidden">
    <div class="flex items-center justify-center p-10" style={{ background: blok.colour }}>
      <Image class="w-48 h-48 shrink-0 object-contain" url={blok.logo.filename} alt="" />
    </div>

    <h1 class="font-bold text-3xl text-center pt-6">
      {blok.name}
    </h1>

    <Separator />

    <div class="p-6 flex flex-col sm:block">
      <PhotoCarousel class="order-2 sm:order-none" photos={blok.photos} name={blok.name} />

      <RichText class="order-1 sm:order-none" content={blok.body} />
    </div>
  </div>
</main>
