---
import { renderRichText, storyblokEditable } from '@storyblok/astro';
const { blok } = Astro.props;
---

<div class="border border-neutral-200 rounded p-4 flex flex-col gap-4" {...storyblokEditable(blok)}>
  <div class="flex flex-row w-full gap-4">
    <img src={blok.photo.filename} class="rounded-full w-25 h-25 object-cover m-auto" />
    <div class="flex flex-col my-auto grow">
      <h3>{blok.title}</h3>
      <p>{blok.name}</p>
    </div>
  </div>
  
  <div class="grid grid-cols-2 gap-4">
    <p class="m-auto">
      <i class="fa-phone-alt fas"></i>
      {blok.phone}
    </p>
    <p class="m-auto">
      <i class="fa-envelope fas"></i>
      {blok.email}
    </p>
  </div>
</div>
