---
import { storyblokEditable } from '@storyblok/astro';
import { Image } from 'astro-preload/components';
import RichText from './basics/RichText.astro';
const { blok } = Astro.props;
---

<ul class="grid grid-cols-1 sm:grid-cols-3 gap-8" {...storyblokEditable(blok)}>
  {blok.people.map((person: any) => (
    <li class="border border-neutral-200 rounded-xl flex flex-col gap-4" {...storyblokEditable(person.content)}>
      <div class="flex flex-row w-full gap-2 border-b border-neutral-200 p-4">
        <Image url={person.photo.filename} class="rounded-full w-24 h-24 object-cover m-auto" />
        <div class="flex flex-col my-auto grow">
          <h3 class="font-bold text-2xl">{person.name}</h3>
          <p class="text-sm text-neutral-700">{person.title}</p>
        </div>
      </div>

      <div class="flex flex-col gap-1 mb-4">
        <a href={`tel:${person.phone}`} class="m-auto flex flex-row gap-2 hover:underline">
          <i class="fa-phone-alt fas my-auto"></i>
          {person.phone}
        </a>
        <a href={`mailto:${person.email}`} class="m-auto flex flex-row gap-2 hover:underline">
          <i class="fa-envelope fas my-auto"></i>
          {person.email}
        </a>
      </div>
    </li>
  ))}
  <li class="border border-neutral-200 rounded-xl flex flex-col">
    <div class="flex flex-row p-4 gap-4 border-b border-neutral-200">
      <div class="flex bg-[var(--brand)]/20 h-8 w-8 rounded text-[var(--brand)]">
        <i class="m-auto fas fa-building"></i>
      </div>
      <h2 class="font-bold text-lg my-auto">Bezoekadres</h2>
    </div>
    <RichText class="p-4" content={blok.visit_address} />
  </li>
  <li class="border border-neutral-200 rounded-xl flex flex-col">
    <div class="flex flex-row p-4 gap-4 border-b border-neutral-200">
      <div class="flex bg-[var(--brand)]/20 h-8 w-8 rounded text-[var(--brand)]">
        <i class="m-auto fas fa-envelope"></i>
      </div>
      <h2 class="font-bold text-lg my-auto">Postadres</h2>
    </div>
    <RichText class="p-4" content={blok.postal_address} />
  </li>
  <li class="border border-neutral-200 rounded-xl flex flex-col">
    <div class="flex flex-row p-4 gap-4 border-b border-neutral-200">
      <div class="flex bg-[var(--brand)]/20 h-8 w-8 rounded text-[var(--brand)]">
        <i class="m-auto fas fa-address-card"></i>
      </div>
      <h2 class="font-bold text-lg my-auto">Gegevens</h2>
    </div>
    <RichText class="p-4" content={blok.data} />
  </li>
</ul>