---
import { Image } from "astro-preload/components";
import RichText from "./basics/RichText.astro";

const { blok } = Astro.props;
---

<main class="w-[92%] sm:w-3/4 mx-auto py-12">
  <h1 class="text-4xl font-bold text-center mb-8">Sociale veiligheid bij Sticky</h1>

  <div class="grid grid-cols-1 md:grid-cols-5 gap-8">
  <div class="flex flex-col md:col-span-3">
    <div class="border border-neutral-300 rounded-xl p-4">
      <div lang="nl" id="vcp-body">
        <RichText content={blok.body} />
      </div>
    </div>
    <div class="flex flex-col md:flex-row gap-8 py-8 px-4">
      <div class="w-full md:w-1/3 my-auto text-center">
        Deel je verhaal anoniem via ons anoniem meldpunt:
        <a class="text-blue-500 hover:underline inline-block" href="https://voeljeveilig.svsticky.nl">voeljeveilig.svsticky.nl</a>.
      </div>
      <div class="flex md:hidden items-center gap-4">
        <div class="bg-neutral-300 h-px w-full my-auto"></div>
        <i class="text-lg text-neutral-600">Of</i>
        <div class="bg-neutral-300 h-px w-full my-auto"></div>
      </div>
      <div class="hidden md:flex flex-col py-4">
        <div class="bg-neutral-300 w-px h-full mx-auto"></div>
        <i class="my-auto py-2 text-xl text-neutral-600">Of</i>
        <div class="bg-neutral-300 w-px h-full mx-auto"></div>
      </div>
      <div class="flex flex-col gap-4 w-full md:w-min md:grow">
        <p lang="nl" class="hyphens-auto text-center">Neem zelf contact op met een van onze vertrouwenscontactpersonen:</p>
        <ul class="flex flex-col gap-4 mx-auto">
          {blok.people.map((person: any) => (
            <li class="grid grid-cols-[6rem_auto] gap-4 border border-neutral-200 rounded-xl p-4">
              <Image url={person.photo.filename} class="rounded-full w-full h-auto aspect-square my-auto" />
              <div class="flex flex-col gap-2">
                <span class="w-full font-bold text-lg">{person.name}</span>
                <a href={`mailto:${person.email}`} class="flex flex-row gap-1 text-sm hover:underline">
                  <i class="fas fa-envelope my-auto"></i>
                  {person.email}
                </a>
                <a href={`tel:${person.phone}`} class="flex flex-row gap-1 text-sm hover:underline">
                  <i class="fas fa-phone my-auto"></i>
                  {person.phone}
                </a>
              </div>
            </li>
          ))}
        </ul>
      </div>
    </div>
  </div>

  <div class="w-full md:col-span-2">
    <Image url={blok.poster.filename} class="w-full h-auto rounded-xl" />
  </div>
  </div>
</main>

<style is:global>
  #vcp-body {
    hyphens: auto;
  }
</style>