---
import { storyblokEditable } from '@storyblok/astro';
import { Image } from "astro-preload/components";
const { blok } = Astro.props;

import { MultiSelectInput } from "./MultiSelectInput";

import { useStoryblokApi } from '@storyblok/astro';

const storyblokApi = useStoryblokApi();
const vacancies = await storyblokApi.getAll('cdn/stories', {
  version: 'draft',
  starts_with: 'carriere/vacatures',
  content_type: 'vacancy',
  resolve_relations: 'vacancy.partner'
});

const { data: { datasource_entries: studies } } = await storyblokApi.get('cdn/datasource_entries', {
  datasource: "vacancy-studies",
  dimension: "type"
});
const options = [
  { label: "Bachelor programmes", values: studies.filter(study => study.dimension_value === "bsc").map(study => ({ key: study.name, value: study.value })) },
  { label: "Master programmes", values: studies.filter(study => study.dimension_value === "msc").map(study => ({ key: study.name, value: study.value })) }
];

const { data: { datasource_entries: types } } = await storyblokApi.get('cdn/datasource_entries', {
  datasource: "vacancy-types",
  dimension: "translation"
});
const type_options = types.map(type => ({ key: type.name, value: type.value }));
---

<main class="w-3/4 mx-auto py-12 flex flex-col min-h-[calc(100vh-160px)]" {...storyblokEditable(blok)}>
  <h1 class="text-4xl font-bold mx-auto mb-8">Vacatures</h1>
  <p class="w-3/4 mx-auto text-center">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed pariatur nisi exercitationem quas reprehenderit neque rem blanditiis reiciendis nam rerum ipsam totam quidem, aspernatur necessitatibus fuga accusamus, est optio. Rerum!
  </p>

  <div class="border-neutral-300 flex flex-row my-8">
    <div class="bg-neutral-300 h-px w-full my-auto rounded-full"></div>
    <img src="/exclamation.svg" class="w-7" />
    <div class="bg-neutral-300 h-px w-full my-auto rounded-full"></div>
  </div>
  
  <div class="grid grid-cols-2 gap-4">
    <div>
      <span class="text-sm text-neutral-600">Sort by programme:</span>
      <MultiSelectInput client:load placeholder="Select a programme to filter" options={options} atom_name="programme_filter" />
    </div>
    <div>
      <span class="text-sm text-neutral-600">Sort by vacancy type:</span>
      <MultiSelectInput client:load placeholder="Select a type to filter" options={type_options} atom_name="type_filter" />
    </div>
  </div>

  <div class="mt-8">
    <ul class="grid grid-cols-4 gap-4" id="vacatures">
      {vacancies.map(vacancy =>
        <a class="group" href={`/carriere/vacatures/${vacancy.slug}`} data-types={vacancy.content.types} data-studies={vacancy.content.studies}>
          <li class="flex flex-col w-full h-full border border-neutral-300 rounded-xl group-hover:-translate-y-1 group-hover:shadow transition">
            <Image class="w-full h-auto border-b border-neutral-300 object-contain aspect-square" url={vacancy.content.partner[0].content.logo.filename} />
            <span class="font-bold text-lg mx-auto group-hover:text-[var(--brand)] my-2">{vacancy.content.name}</span>
            <p class="mx-auto mb-2">{vacancy.content.short_text}</p>
          </li>
        </a>
      )}
    </ul>
  </div>
</main>

<script>
  import { programme_filter, type_filter } from "./store";

  const vacancy_container = document.getElementById("vacatures")!;
  const vacancies = Array.from(vacancy_container.children) as HTMLElement[];

  function passes_filter(vacancy: HTMLElement) {
    const types = (vacancy.dataset["types"] ?? "").split(",");
    const programmes = (vacancy.dataset["studies"] ?? "").split(",");
    const active_programmes = programme_filter.get();
    const active_types = type_filter.get();
    return (!active_types.length || types.some(type => active_types.includes(type)))
      && (!active_programmes.length || programmes.some(programme => active_programmes.includes(programme)));
  }

  function apply_filters() {
    for (const vacancy of vacancies) {
      vacancy.classList.add(passes_filter(vacancy) ? "block" : "hidden");
      vacancy.classList.remove(passes_filter(vacancy) ? "hidden" : "block");
    }
  }

  programme_filter.listen(() => { apply_filters(); });
  type_filter.listen(() => { apply_filters(); });
</script>