---
import { storyblokEditable } from '@storyblok/astro';
import { Image } from "astro-preload/components";
const { blok, language } = Astro.props;

import { MultiSelectInput } from "./MultiSelectInput";

import { useStoryblokApi } from '@storyblok/astro';

const storyblokApi = useStoryblokApi();
const vacancies = await storyblokApi.getAll('cdn/stories', {
  version: 'draft',
  starts_with: 'carriere/vacatures',
  content_type: 'vacancy',
  resolve_relations: 'vacancy.partner',
  language
});

const { data: { datasource_entries: studies } } = await storyblokApi.get('cdn/datasource_entries', {
  datasource: "vacancy-studies",
  dimension: "type"
});
const options = [
  {
    label: { nl: "Bachelor opleidingen", en: "Bachelor programmes" },
    values: studies.filter((study: any) => study.dimension_value === "bsc").map((study: any) => ({ key: study.name, value: study.value }))
  },
  {
    label: { nl: "Master opleidingen", en: "Master programmes" },
    values: studies.filter((study: any) => study.dimension_value === "msc").map((study: any) => ({ key: study.name, value: study.value }))
  }
];

const { data: { datasource_entries: types } } = await storyblokApi.get('cdn/datasource_entries', {
  datasource: "vacancy-types",
  dimension: "translation"
});
const type_options = types.map((type: any) => ({ key: type.name, value: type.value }));
---

<div {...storyblokEditable(blok)}>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    <div>
      <span class="text-sm text-neutral-600">
        {language === undefined ? "Filter op opleiding:" : "Filter on programme:"}
      </span>
      <MultiSelectInput
        client:load
        placeholder={language === undefined ? "Selecteer een opleiding om te filteren" : "Select a programme to filter"}
        options={options}
        atom_name="programme_filter"
        language={language}
      />
    </div>
    <div>
      <span class="text-sm text-neutral-600">
        {language === undefined ? "Filter op type:" : "Filter on vacancy type:"}
      </span>
      <MultiSelectInput
        client:load
        placeholder={language === undefined ? "Selecteer een type om te filteren" : "Select a type to filter"}
        options={type_options}
        atom_name="type_filter"
        language={language}
      />
    </div>
  </div>

  <div class="mt-8">
    <ul class="grid grid-cols-2 sm:grid-cols-4 gap-6" id="vacatures">
      {vacancies.map((vacancy: any) =>
        <a class="group" href={`${language === undefined ? "" : `/${language}`}/carriere/vacatures/${vacancy.slug}`} data-types={vacancy.content.types} data-studies={vacancy.content.studies}>
          <li class="flex flex-col h-full border border-neutral-200 rounded-xl overflow-hidden group-hover:-translate-y-1 group-hover:shadow-lg group-hover:border-[var(--brand)] transition">
            <div class="aspect-square p-6 border-b border-neutral-200 flex items-center justify-center">
              <Image class="max-w-full max-h-full object-contain" url={vacancy.content.partner[0].content.logo.filename} />
            </div>
            <div class="p-4 flex flex-col gap-1 text-center flex-1">
              <span class="font-bold text-lg group-hover:text-[var(--brand)] transition">{vacancy.content.name}</span>
              <p class="text-sm text-neutral-600">{vacancy.content.short_text}</p>
            </div>
          </li>
        </a>
      )}
    </ul>
  </div>
</div>

<script>
  import { programme_filter, type_filter } from "./store";

  const vacancy_container = document.getElementById("vacatures")!;
  const vacancies = Array.from(vacancy_container.children) as HTMLElement[];

  function passes_filter(vacancy: HTMLElement) {
    const types = (vacancy.dataset["types"] ?? "").split(",");
    const programmes = (vacancy.dataset["studies"] ?? "").split(",");
    const active_programmes = programme_filter.get();
    const active_types = type_filter.get();
    return (!active_types.length || types.some(type => active_types.includes(type)))
      && (!active_programmes.length || programmes.some(programme => active_programmes.includes(programme)));
  }

  function apply_filters() {
    for (const vacancy of vacancies) {
      vacancy.classList.add(passes_filter(vacancy) ? "block" : "hidden");
      vacancy.classList.remove(passes_filter(vacancy) ? "hidden" : "block");
    }
  }

  programme_filter.listen(() => { apply_filters(); });
  type_filter.listen(() => { apply_filters(); });
</script>