---
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';
import { storyblokEditable } from '@storyblok/astro';
import { Image } from "astro-preload/components";
import RichText from '../basics/RichText.astro';
const { blok } = Astro.props;

const partner = blok.partner[0].content;
---

<main class="w-[92%] sm:w-3/4 mx-auto py-8 min-h-[calc(100vh-160px)]" {...storyblokEditable(blok)}>
  <a href="/carriere/vacatures" class="text-[var(--brand-dark)] flex flex-row gap-2 group w-max mb-4">
    <i class="my-auto fas fa-arrow-left group-hover:-translate-x-1 transition-transform"></i>
    <span class="group-hover:underline">Terug naar de vacatures</span>
  </a>

  <div class="rounded-xl border border-neutral-200 overflow-hidden mt-4">
    <div class="flex flex-col sm:flex-row items-center gap-4 border-b border-neutral-200 p-4 text-center sm:text-left">
      <Image class="h-24 w-24 aspect-square border border-neutral-200 rounded-lg object-contain p-2" url={partner.logo.filename} />
      <div class="flex flex-col items-center sm:items-start gap-1">
        <h1 class="font-bold text-3xl">{blok.name}</h1>
        <h2 class="text-neutral-500">
          Vacature van{" "}
          <a class="text-[var(--brand)] hover:underline" href={`/carriere/partners/${blok.partner[0].slug}`}>
            {partner.name}
          </a>
        </h2>
        <ul class="flex flex-row flex-wrap justify-center sm:justify-start gap-2 mt-2">
          {blok.studies.slice(0, 3).map((study: string) =>
            <li class="border border-neutral-300 bg-neutral-100 px-2 py-1 text-xs rounded-full">
              {study}
            </li>)}
          {blok.studies.length > 3
            ? <li class="border border-neutral-300 bg-neutral-100 px-2 py-1 text-xs rounded-full relative group">
                + {blok.studies.length - 3}
                <div class="hidden group-hover:block absolute bottom-8 w-50 left-1/2 -translate-x-1/2 bg-neutral-600 text-white rounded px-2 py-1 border border-neutral-800">
                  {blok.studies.slice(3).join(", ")}
                </div>
              </li>
            : undefined}
        </ul>
      </div>
      <div class="flex flex-row flex-wrap justify-center gap-4 sm:ml-auto">
        {blok.buttons?.map((button: any) => <StoryblokComponent blok={button} />)}
      </div>
    </div>
    <RichText class="p-6" content={blok.long_text} />
  </div>
</main>